#centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: var(--light);
  font-family: Gunterz, "Rubik", sans-serif;
  font-weight: 500;

  user-select: none;
}

.bento-box {
  display: grid;
  gap: 16px;
  width: 80%;
  max-width: 3200px;
  height: 2400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--light);
  text-align: center;
  border-radius: 5px;
}

/* Specific grid item spans */
#intro {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#photo {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

#bio {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

#skills {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

#testimonials {
  grid-column: 1 / 4;
  grid-row: 4 / 8;
}

#contact {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/* FONT FACES */
@font-face {
  font-family: Gunterz;
  src: url("public/Gunterz.otf");
}

/* DEVICE TYPE MEDIA QUERIES */
@media only screen and ((max-width: 767px) or (hover: none) or (orientation: portrait)) {
  h1 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}
