@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --dark: rgb(252, 42, 42);
  --red: rgb(255, 69, 69);
  --light: #ffdfdf;
  --gray: #111111;
}

body {
  background-color: #111111;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}
