@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --dark: rgb(252, 42, 42);
  --red: rgb(255, 69, 69);
  --light: #ffdfdf;
  --gray: #111111;
}

/* CODE FOR THE MAIN SCREEN */
.title {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Noto Sans Mono", Gunterz;
  text-transform: uppercase;
  font-weight: 900;

  margin: 0px 10vw;
  width: 80vw;

  user-select: none;
  cursor: default;
}

body {
  background-color: #111111;
  margin: 0px;
}

a {
  text-decoration: none;
}

#centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: var(--light);
  font-family: Gunterz, "Rubik", sans-serif;
  font-weight: 500;
  font-size: 5rem;
  width: 60vw;

  user-select: none;
}

.bento-box {
  display: grid;
  gap: 16px;
  width: 80%;
  max-width: 3200px;
  height: 2400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #e0e0e0;
  text-align: center;
  border-radius: 5px;
}

/* Specific grid item spans */
#intro {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#photo {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

#bio {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

#skills {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

#testimonials {
  grid-column: 1 / 4;
  grid-row: 4 / 8;
}

#contact {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

/* CODE FOR THE SLIDING SCREEN */
.side {
  display: grid;
  height: 100vh;
  overflow: hidden;
  place-items: center;
  position: absolute;
  width: 100%;
}

#left-side {
  background-color: #111111;
  width: 60%;
  z-index: 2;
}

#left-side .title {
  color: var(--light);
}

#right-side {
  background-color: #f04044;
}

#right-side .title {
  color: var(--gray);
}

@font-face {
  font-family: Gunterz;
  src: url("Gunterz.otf");
}

/* DEVICE TYPE MEDIA QUERIES */
@media only screen and ((max-width: 767px) or (hover: none) or (orientation: portrait)) {
  .title {
    font-size: 10vw;
  }
  h1 {
    font-size: 3rem;
  }
  .word {
    font-size: clamp(3rem, 14vw, 5rem);
  }
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 5vw;
  }
  h1 {
    font-size: 5rem;
  }
  .word {
    font-size: clamp(2rem, 8vw, 10rem);
  }
}

/* CODE FOR THE MOUSE TRAILER */
#trailer {
  background-color: #ff4a4a;
  height: 1.5rem;
  width: 1.5rem;
  border-color: transparent;
  border-radius: 1.5rem;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#trailer-icon {
  width: 0.75rem;
  transform: translate(50%, 30%);

  opacity: 0;
  transition: opacity 0.25s ease;
}

#trailer:not([data-type=""]) > #trailer-icon {
  opacity: 1;
}

body:hover > #trailer {
  opacity: 1;
}
