@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --dark: rgb(252, 42, 42);
  --red: rgb(255, 69, 69);
}

/* CODE FOR THE MAIN SCREEN */
.title {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Noto Sans Mono", Gunterz;
  text-transform: uppercase;

  margin: 0px 10vw;
  width: 80vw;

  user-select: none;
  cursor: default;
}

body {
  background-color: #111111;
  margin: 0px;
}

a {
  text-decoration: none;
}

/* CODE FOR THE CONTACT SCREEN */
#centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: #fffefe;
  font-family: Gunterz, "Rubik", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  width: 60vw;
}

.bento-box {
  display: grid;
  gap: 16px;
  width: 80%;
  max-width: 3200px;
  height: 2400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #e0e0e0;
  text-align: center;
  border-radius: 5px;
}

/* Specific grid item spans */
#intro {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#photo {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

#bio {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

#skills {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

#testimonials {
  grid-column: 1 / 4;
  grid-row: 4 / 8;
}

#contact {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 80vw;
  position: relative;
  margin-bottom: 8vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.socImg {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
}

#linkedImg {
  border-radius: 1rem;
}

#instaImg {
  border-radius: 1.5rem;
}

.socials-border {
  border: 1px solid #fffefe;
  border-radius: 1rem;
  padding-left: 1rem;
  padding: 1rem;
  background-color: #fffefe;
  display: flex;
  justify-content: flex-end;
}

.socials {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  margin-top: 3rem;
}

.soc {
  color: black;
  font-family: Gunterz;
  display: flex;
  font-size: 3rem;
  margin: auto;
  margin-left: 1rem;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  /* margin-right: 1rem; */
}

.vert {
  margin: auto;
  padding-left: 1rem;
}

.email {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50vw;
  color: black;
  padding-left: 4vw;
  padding-right: 4vw;
}

.email-title {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  margin: 0px;
  margin-bottom: 1rem;
  align-items: flex-start;
  text-align: left;
  width: 90%;
}

/* CODE FOR THE SLIDING SCREEN */
.side {
  display: grid;
  height: 100vh;
  overflow: hidden;
  place-items: center;
  position: absolute;
  width: 100%;
}

#left-side {
  background-color: #111111;
  width: 60%;
  z-index: 2;
}

#left-side .title {
  color: #ffdfdf;
}

#right-side {
  background-color: #f04044;
}

#right-side .title {
  color: black;
}

@font-face {
  font-family: Gunterz;
  src: url("Gunterz.otf");
}

/* DEVICE TYPE MEDIA QUERIES */
@media only screen and ((max-width: 767px) or (hover: none) or (orientation: portrait)) {
  .title {
    font-size: 10vw;
  }
  h1 {
    font-size: 3rem;
  }
  .word {
    font-size: clamp(2rem, 14vw, 10rem);
  }

  .soc {
    font-size: 3rem;
  }
  .socImg {
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
  }
  #linkedImg {
    border-radius: 1rem;
  }
  #instaImg {
    border-radius: 1.5rem;
  }

  /* Make it so that email and socials are stacking instead */
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh;
    width: 100vw;
    position: relative;
    margin-bottom: 8vh;
    margin-left: 0vw;
    margin-right: 0vw;
    gap: 4vh;
  }
  .email {
    width: 65vw;
    margin-left: -5vw;
  }
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 5vw;
  }
  h1 {
    font-size: 5rem;
  }
  .word {
    font-size: clamp(2rem, 8vw, 10rem);
  }

  /* Make it so that email and socials are side by side here */
  .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 80vw;
    position: relative;
    margin-bottom: 8vh;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .email {
    width: 50vw;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .soc {
    font-size: 2rem;
  }
  .socImg {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
  }
  #linkedImg {
    border-radius: 0.5rem;
  }
}

@media only screen and (min-width: 1025px) {
  .soc {
    font-size: 3rem;
  }
  .socImg {
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
  }
  #linkedImg {
    border-radius: 1rem;
  }
}

/* CODE FOR THE BUTTON */
form button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #111111; /* #154d44 */
  font-family: "Rubik", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

form button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #f04044;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

form button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

form button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fffefe;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

form button:hover span {
  color: #111111;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.submission-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* fuck with this */
  width: 95%;
}

/* CODE FOR THE FORM */
.contact-form {
  position: relative;
  display: flex;
  align-items: center; /* fuck with this */
  flex-direction: column;
  gap: 20px;
  /* height: 100%; */
  width: 100%;
  background-color: #fffefe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
  font-family: "Rubik";
}

.form .title {
  color: royalblue;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form .email-info input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 40%;
  height: 40px;
}

.contact-form .email-info input:focus,
input:hover {
  outline: none;
  border-color: rgba(240, 64, 68, 0.4);
  background-color: #fffefe;
  box-shadow: 0 0 0 4px rgba(240, 64, 68, 0.1);
}

.contact-form textarea {
  border-radius: 8px;
  height: 150px;
  width: 90%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.contact-form textarea:focus,
textarea:hover {
  outline: none;
  border-color: rgba(240, 64, 68, 0.4);
  background-color: #fffefe;
  box-shadow: 0 0 0 4px rgba(240, 64, 68, 0.1);
}

.contact-form button {
  align-self: flex-end; /* fuck with this */
  cursor: pointer;
  /* padding: 8px; */
  /* outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: royalblue;
    color: #fff; */
}

.email-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 5%;
}

/* CODE FOR THE RADIO BUTTONS */
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #ffdfdf;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  gap: 10%;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  width: 94%;
  font-weight: 400;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0.25rem;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 500;
}

/* CODE FOR THE MOUSE TRAILER */
#trailer {
  background-color: #ff4a4a;
  height: 1.5rem;
  width: 1.5rem;
  border-color: transparent;
  border-radius: 1.5rem;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#trailer-icon {
  width: 0.75rem;
  transform: translate(50%, 30%);

  opacity: 0;
  transition: opacity 0.25s ease;
}

#trailer:not([data-type=""]) > #trailer-icon {
  opacity: 1;
}

body:hover > #trailer {
  opacity: 1;
}
