@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 2rem 7rem 2rem 7rem;
  width: calc(100% - 14rem);
  height: calc(100% - 4rem);
  min-width: 400px;
}

.title {
  text-align: center;
  color: var(--light);
  font-family: Gunterz, "Rubik", sans-serif;
  font-weight: 500;

  user-select: none;
}

.bento-box {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background-color: var(--light);
  text-align: center;
  border-radius: 1.5rem;

  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.big-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 5;
  height: 100%;
}

.big-row {
  display: flex;
  gap: 16px;
}

.logo {
  flex: 2;
  padding: 0;
  display: block;
  overflow: hidden;
  background-color: #df5051;
}
.logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  display: block;
  overflow: hidden;
}

/* Intro and Contacts Column */
.intro-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 3;
}

.contacts-row {
  display: flex;
  gap: 16px;
}

.intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 1.5rem;
}

.socImg {
  flex: 1;
  overflow: hidden;
}
.socImg img {
  max-width: 96px;
  max-height: 96px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

/* Experience Box */
.experienceContainer {
  flex-direction: column;
  text-align: left;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
  flex: 2;
}
.experienceGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  height: 100%;
}
#experienceType {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  font-weight: 500;
}
.experienceContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.experienceHeader {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  font-weight: 500;
}
.experienceTitle {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#subtitle {
  font-size: 1rem;
}

/* Skills and Quote Row */
.row {
  display: flex;
  gap: 16px;
  flex: 1;
}

.skills {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 500;
}
.skillList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.5rem;
  font-weight: 400;
}

.quote {
  flex: 2;

  flex-direction: column;
  gap: 48px;
  font-size: 1.5rem;
}
#accreditation {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  font-size: 1rem;
  font-weight: 500;
}

/* FONT FACES */
@font-face {
  font-family: Gunterz;
  src: url("/public/Gunterz.otf");
}

/* Large screens */
@media (min-width: 1200px) {
  .title {
    font-size: 5rem;
  }
}

/* Medium / tablet screens */
@media (max-width: 1199px) and (min-width: 768px) {
  .wrapper {
    padding: 2rem;
    width: calc(100% - 4rem);
    gap: 36px;
    overflow-x: hidden;
  }

  .title {
    font-size: clamp(3rem, 6vw, 4rem);
  }

  .box {
    padding: 24px;
    font-size: 1.5rem;
  }

  .big-column {
    flex: 6;
  }
  .experienceContainer {
    flex: 4;
  }

  .logo {
    padding: 0;
  }
  .socImg {
    padding: 12px;
  }

  .skillList {
    gap: 6px;
    font-size: 1rem;
  }
  .quote {
    font-size: 1.25rem;
    gap: 24px;
  }
  .intro {
    font-size: 1rem;
  }

  .experienceHeader {
    font-size: 1.25rem;
  }
  #subtitle {
    font-size: 0.875rem;
  }
}

/* Small / mobile screens stack the layout vertically */
@media only screen and ((max-width: 767px) or (hover: none) or (orientation: portrait)) {
  .wrapper {
    padding: 2rem;
    width: calc(100% - 4rem);
    gap: 48px;
    height: 100%;
  }

  .title {
    font-size: clamp(1rem, 5vw, 2.5rem);
  }

  .bento-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .box {
    padding: 24px;
    font-size: 2rem;
  }

  .logo {
    padding: 0;
  }
  .socImg {
    padding: 8px;
  }

  .skillList {
    gap: 8px;
    font-size: 1.5rem;
  }
  .quote {
    font-size: 1.5rem;
  }
  .intro {
    font-size: 1.5rem;
  }

  .experienceHeader {
    font-size: 1.5rem;
  }
  #subtitle {
    font-size: 1rem;
  }
}
