<div id="hamburger" class="hamburger">
  <button id="menuButton">
    <img src="img/ham.svg" alt="hamburger" />
  </button>
</div>
<div id="menu" class="menu">
  <div id="text">
    <a href="/" class="menu-item">
      <div class="word fancy">HOMEPAGE</div>
    </a>
    <a href="http://projects.gyryk.com/" target="_blank" class="menu-item">
      <p class="word fancy" id="projects">PROJECTS</p>
    </a>
    <a href="/about.html" class="menu-item">
      <p class="word fancy">ABOUT</p>
      <p class="word fancy" data-start="6">ME</p>
    </a>
  </div>
</div>
