@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.hamburger {
  position: absolute;
  z-index: 4;
  top: 1rem;
  left: 1rem;
}
body.menu-open {
  overflow: hidden;
}
.hamburger > button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.hamburger > button > img {
  width: 100px;
  height: 100px;
}

.showMenu {
  animation: opening 1.2s forwards;
}

#text {
  position: absolute;
}

.menu {
  z-index: 10;
  width: calc(100% - 6rem);
  transform: translateX(-100%);
  height: calc(100vh - 4rem);
  background-color: #111111;
  margin: 0rem;
  overflow: hidden;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  padding: 2rem 3rem;
}

.menu-item {
  display: flex;
  justify-content: space-between;
}

.word {
  color: var(--light);
  font-family: "Rubik";
  font-weight: 500;
  margin: 0rem;
  text-transform: uppercase;
  transition: opacity 250ms ease;
}
#projects {
  letter-spacing: 0.04em;
}

#text:has(.menu-item:hover) .menu-item:not(.menu-item:hover) {
  opacity: 0.2;
}

.menu-item:has(.fancy:hover) .fancy .outer {
  transition-duration: 800ms;
}

.menu-item:has(.fancy:hover) .fancy .outer .inner {
  animation: float 5s ease infinite;
}

.menu-item:has(.fancy:hover) .outer .inner .letter {
  background: linear-gradient(to right, var(--red), var(--dark), var(--red));
  background-size: 1000%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 150s linear infinite;
}

.fancy span {
  display: inline-block;
}

.fancy > .outer {
  transition: transform 350ms ease;
}

.fancy:hover > .outer {
  transition-duration: 800ms;
}

.fancy:hover > .outer > .inner {
  animation: float 5s ease infinite;
}

.fancy:hover > .outer > .inner > .letter {
  background: linear-gradient(to right, var(--red), var(--dark), var(--red));
  background-size: 1000%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 150s linear infinite;
}


/* Individual transformations for each letter on hover */
.fancy:hover > .outer[data-index="0"] { transform: translate(-80%, 6%) rotate(8deg); }
.fancy:hover > .outer[data-index="1"] { transform: translate(-35%, 18%) rotate(4deg); }
.fancy:hover > .outer[data-index="2"] { transform: translate(-5%, 60%) rotate(-6deg); }
.fancy:hover > .outer[data-index="3"] { transform: translate(0%, 10%) rotate(-8deg); }
.fancy:hover > .outer[data-index="4"] { transform: translate(5%, -20%) rotate(5deg); }
.fancy:hover > .outer[data-index="5"] { transform: translate(15%, 15%) rotate(-5deg); }
.fancy:hover > .outer[data-index="6"] { transform: translate(40%, -10%) rotate(10deg); }
.fancy:hover > .outer[data-index="7"] { transform: translate(80%, -30%) rotate(-10deg); }


/* ANIMATIONS */
@keyframes opening {
  from {
    /* width: 0%; */
    transform: translateX(-100%);
  }
  to {
    /* width: 100%; translate instead */
    transform: translateX(0%);
  }
}

@keyframes float {
  from,
  to {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-5%);
  }
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }

  to {
    background-position: 0% center;
  }
}

/* DEVICE TYPE MEDIA QUERIES */
@media only screen and ((max-width: 767px) or (hover: none) or (orientation: portrait)) {
  .word {
    font-size: clamp(3rem, 13vw, 5rem);
  }
}

@media only screen and (min-width: 768px) {
  .word {
    font-size: clamp(7rem, 13vw, 12rem);
  }
}
