<div id="hamburger" class="hamburger">
  <button id="menuButton">
    <img src="img/ham.svg" alt="hamburger" />
  </button>
</div>
<div id="menu" class="menu">
  <div id="text">
    <a href="/" class="menu-item">
      <div class="word fancy">HOMEPAGE</div>
    </a>
    <!--ABOUT ME-->
    <a href="/about.html" class="menu-item">
      <p class="word fancy">WHO</p>
      <p class="word fancy">AM</p>
      <p class="word fancy">I</p>
    </a>
    <!--PROJECTS-->
    <a href="http://projects.gyryk.com/" target="_blank" class="menu-item">
      <p class="word fancy">MY</p>
      <p class="word fancy">WORKS</p>
    </a>
    <!-- Temporarily Removing Contact Page and moving towards just having an about page-->
    <!-- <a href="/contact.html" class="menu-item">
      <div class="word fancy" id="contacts">
        @CONTACT
      </div>
    </a> -->
  </div>
</div>
