<div id="hamburger" class="hamburger">
  <button id="menuButton">
    <img src="img/ham.svg" alt="hamburger" />
  </button>
</div>
<div id="menu" class="menu">
  <div id="text">
    <a href="/" class="menu-item">
      <div class="word fancy" id="home">HOMEPAGE</div>
    </a>
    <a href="/about.html" class="menu-item">
      <p class="word fancy" id="who">WHO</p>
      <p class="word fancy" id="am">AM</p>
      <p class="word fancy" id="about">I</p>
    </a>
    <a href="http://projects.gyryk.com/" target="_blank" class="menu-item">
      <p class="word fancy" id="my">MY</p>
      <p class="word fancy" id="works">WORKS</p>
    </a>
    <a href="/contact.html" class="menu-item">
      <div class="word fancy" id="contacts">
        @CONTACT
      </div>
    </a>
  </div>
</div>
